# Allow access to image files
<FilesMatch "\.(jpg|jpeg|png|gif|docx|PDF|pdf)$">
    Order Allow,Deny
    Allow from all
</FilesMatch>

# Deny all access to other files and directories
Order Allow,Deny
Deny from all
